.paperStyle{
	position:fixed;
	top:30px;
	left:30px;
    height: 842px;
    width: 595px;
    border: 1px solid #ACA899;
}
.paperStyle .header {
	position:fixed;
	top:30px;
	left:30px;
    height: 842px;
    width: 595px;
    color: #000000;
    background-color: #C3D9FF;
    padding: 0px;
}
.paperStyle .body {
    cursor: pointer;
    position:fixed;
	top:30px;
	left:30px;
	height: 842px;
    width: 595px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}